.button{
    display: inline-block;
    background-color: #F25A70;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000000;
    transition: transform 100ms linear, background-color 100ms linear;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    
}
.button:hover {
    background-color: #7C5E99;
    box-shadow: 7px 7px 0 #000000;
    transform: scale(1.05);
}