.projects{
    box-sizing: border-box;
    background-color: #3A4042;
    width: 100%;
    height: 520px;
    padding-top: 50px;
    border-bottom: 10px solid #000000;
}
.projects .subtitle{
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-shadow: none;
}