.skills .skill_list{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.skills .skill_list .skill{
    display: flex;
    flex-direction: row;
}
.skill .subtitle{
    font-size: 25px;
}
.skill_list li {
    list-style: none;
}
.skill{
    margin-bottom: 38px;
}
.skill img{
    margin-right: 20px;
}
